<%== rails_root_comment %>
<!DOCTYPE html>
<html>
  <head>
    <title>Play</title>
    <link rel="icon" type="image/png" href="/favicon.png">
    <link rel="apple-touch-icon" href="/con.png">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= content_for :page_styles %>

    <%= render partial: 'shared/ga' %>
  </head>

  <body>
    <div class="container">
      <%= yield %>
    </div>
    <%= content_for :page_js %>
  </body>
</html>
