<%== rails_root_comment %>
<!DOCTYPE html>
<html>
<head>
  <title><%= content_for(:title) %></title>
  <meta name="description" content="<%= content_for(:description) %>">
  <link rel="icon" type="image/png" href="/favicon.png">
  <link rel="apple-touch-icon" href="/con.png">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <%= csrf_meta_tags %>
  <%= action_cable_meta_tag %>
  <%= content_for :page_styles %>
  <%= stylesheet_link_tag 'pages/materialize_custom' %>

  <%= render partial: 'shared/ga' %>
</head>

<body>
  <%= render partial: 'layouts/buyer/navigation' %>
  <main>
    <div class="container section">
      <%= yield %>
    </div>
  </main>

  <%= render partial: 'layouts/buyer/footer' %>
  <%= content_for :page_js %>
</body>
</html>
