<%== rails_root_comment %>
<!DOCTYPE html>
<html>
<head>
  <title><%= content_for(:title) %></title>
  <meta name="description" content="<%= content_for(:description) %>">
  <link rel="icon" type="image/png" href="/icon.png">
  <link rel="apple-touch-icon" href="/icon.png">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <%= csrf_meta_tags %>
  <%= action_cable_meta_tag %>
  <%= content_for :page_styles %>
  <%= render partial: 'shared/ga' %>
</head>

<body>
  <%= yield %>

  <%= content_for :page_js %>
</body>
</html>
